body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* content div */
.content {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
}

/* grid-container div */
.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #D2042D;
    width: 60%;
    max-width: 600px;
    margin: 20px 0px;
    border: 3mm ridge #D2042D;
}

/* header div (in grid-container div) */
.grid-container .header {
    font-family: brush script mt, cursive;
    font-size: 36px;
    text-align: center;
    width: 80%;
    color: black;
    padding-bottom: 5px;
}

/* grid div (in grid-container div) */
.grid-container .grid {
    width: 80%;
    aspect-ratio: 1 / 1;
    border: 2mm ridge darkgrey;
    /* border-radius: 20px; */
    background-color: white;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

/* column divs (in grid div) */
.grid-container .grid .column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* row divs (in column divs) */
.grid-container .grid .column .row {
    flex: 1;
    transition-duration: 250ms;
}

/* inputs div */
.inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

/* grid-size div (in inputs div) */
.inputs .grid-size {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    align-items: center;
}

/* h3 elements */
h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* slider-container div (in grid-size div) */
.inputs .grid-size .slider-container {
    margin-bottom: 10px;
}

/* slider (in slider-container div) */
.inputs .grid-size .slider-container .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #D2042D;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D2042D;
    cursor: pointer;
}

/* colour div (in inputs div) */
.inputs .colour {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    align-items: center;
}

/* pen-colour input (in colour div */
.inputs .colour #pen-colour {
    margin-bottom: 10px;
    width: 40%;
    max-width: 160px;
    font-size: 16px;

    &&:hover {
        cursor: text;
    }
}

/* dot span (in colour div)
.inputs .colour .dot {
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    align-self: center;
    
    &&:hover {
        transition-duration: 250ms;
        cursor: pointer;
        transform: scale(1.1);
    }
} */

/* pen-colour input (in dot span)
.inputs .colour #pen-colour {
    display: none;
} */

/* erase and clear divs (in inputs div) */
.inputs .erase,
.inputs .clear {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    align-items: center;
}

/* buttons */
button {
    padding: 10px;
    width: 60%;
    min-width: 60px;
    max-width: 120px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    
    &:hover {
        transition-duration: 250ms;
        cursor: pointer;
        transform: scale(1.1);
    }

    &:active {
        box-shadow: 2px 2px 5px black;
    }
}

/* rainbow-button */
button#rainbow-button {
    background: url("./images/rainbow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffc1cc;  /* if background image doesn't load */
}

/* erase-button */
#erase-button.parallelogram {
    transform: skew(-20deg);
    background-color: #ffc1cc;

    &:hover {
        transition-duration: 250ms;
        cursor: pointer;
        transform: skew(-20deg) scale(1.1);
    }
}

/* clear-button */
button#clear-button {
    background-color: white;
}